<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>医院中心手术室病人实时进行情况汇报系统-欢迎</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" th:href="@{/X-admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/X-admin/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/X-admin/js/xadmin.js}" charset="utf-8"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <blockquote th:if="${user} eq '巡回护士'" class="layui-elem-quote">欢迎！巡回护士 张三 当前时间:<span id="time"></span></blockquote>
                    <blockquote th:if="${user} eq '麻醉医师'" class="layui-elem-quote">欢迎！麻醉医师 李四 当前时间:<span id="time1"></span></blockquote>
                </div>
            </div>
        </div>
        <div th:if="${user} eq '巡回护士'" class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <blockquote th:if="${operation.id} ne null" class="layui-elem-quote">当前在第<b th:text="${operation.location}"></b> 手术室有您负责参与的手术</blockquote>
                    <blockquote th:if="${operation.id} eq null" class="layui-elem-quote">当前暂无您负责参与的手术</blockquote>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">系统信息</div>
                <div class="layui-card-body ">
                    <table class="layui-table">
                        <tbody>
                        <tr>
                            <th>当前版本</th>
                            <td>1.0</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <style id="welcome_style"></style>
    </div>
</div>
<script>
    setInterval("document.getElementById('time').innerHTML = new Date().toLocaleString();", 0);
    setInterval("document.getElementById('time1').innerHTML = new Date().toLocaleString();", 0);
</script>
</body>
</html>
